@import "src/assets/theme/variables";

.navbar {
  &-brand > img {
    height: 80px;
  }

  &-nav {
    .nav-item + .nav-item {
      margin-left: 2rem;
    }
  }
}

.navbar-nav .nav-link {
  font-size: 14px;
}

.nav-item {
  a {
    color: $primaryLight;
  }

  &:hover,
  &.active {
    border-bottom: 2px solid $primaryLight;
  }

  &.active > a {
    color: #fff;
  }
}
