<div class="container">
    <div class="solutions m-5">&ndash; Media Lounge</div>
    <h3 class="card-title opensans  m-5">Check out our podcasts and videos for some amazing content </h3>

    <div class="row align-items-center m-5">
        <div class="col-sm">
          <div class="col-12 left-side"></div>
          <div class="col-12 right-side">
            
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia
            </p>
          </div>
        </div>
    
        <div class="col-sm">
          
          <p>
            Far far away, behind the word mountains, far from the countries Vokalia
          </p>
        </div>
        <div class="col-sm">
          <div class="col-12 right-side text-center">
            <button type="button" class="btn btn-default podcast-btn">Podcast</button>
                    </div>
            

        </div>
      </div>

    <div class="row m-5">
        <div class="col-md-4">
            <div class="card card-primary ">
                <div class="card-body m-4">
                  <h5 class="card-title opensans">Podcast title: Talking <span class="d-block">mental health</span> </h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button type="button" class="btn btn-default">Listen Now</button>
                  <button class="calendar-button">
                    <span>Mar </span>
                    <span>05 </span>
                  </button>
                </div>
              </div>
        </div>
    
        <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card card-primary ">
                <div class="card-body m-4">
                  <h5 class="card-title opensans">Podcast title: Talking <span class="d-block">mental health</span> </h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button type="button" class="btn btn-default">Listen Now</button>
                  <button class="calendar-button">
                    <span>Mar </span>
                    <span>05 </span>
                  </button>
                </div>
              </div>
        </div>
    
        <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card card-primary">
                <div class="card-body m-4">
                  <h5 class="card-title opensans">Podcast title: Talking <span class="d-block">mental health</span> </h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                    
                  </p>
                  <button type="button" class="btn btn-default">Listen Now</button>
                  <button class="calendar-button">
                    <span>Mar </span>
                    <span>05 </span>
                  </button>
                </div>
              </div>
        </div>
      </div>


      <!-- Youtube -->
      <div class="row ">
        <div class="col-xs-12 col-md-6">
            <p class="m-4">
                The French lettering company Letraset manufactured a set of dry-transfer
                sheets which included the lorem ipsum filler text in a variety of fonts,
                sizes, and layouts. These sheets of lettering could be rubbed on
                anywhere and were quickly adopted by graphic artists, printers,
                architects, and advertisers for their professional look and ease of use.
              </p>
        </div>
        <div class="col-xs-12 col-md-6">
        <div class="m-4">
            <div class="solutions">&ndash; YouTube Channel</div>
            <h5 class="card-title opensans m-4">We create awesome<span class="d-block">videos on Youtube</span> </h5>
            <button type="button" class="btn btn-default">Visit Channel</button>
        </div>
          
        </div>
      </div>

    
</div>

<div class="row">
    <div class="col-md-12">
        <div class="embed-responsive embed-responsive-16by9 " >
            <iframe class="embed-responsive-item frame" src="https://www.youtube.com/embed/vlDzYIIOYmM" allowfullscreen></iframe>
          </div>
    </div>
</div>



