<!-- Remove the container if you want to extend the Footer to full width. -->
<div >

    <footer class="footer text-center text-white">
    <!-- Grid container -->
    <!-- <div class="container"> -->
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="../../assets/images/logo.png" class="img-fluid" alt="" />
          </div>
          <div class="col-xs-12 col-md-6">
            <h5 class="footer-spacing text-left">
              "There are no secrets to success. It is the result of
              <span class="d-block">preparation, hard work, and ongoing learning"</span>
            </h5>
            
            <div class="row m-5">
              <div class="col-6 col-sm-3 ">
                <div class="solutions">VISIT US</div>
                <span class="d-block">30 Makhambeni</span>
                <span class="d-block">Sandton</span>
                <span class="d-block">0008</span>
              </div>


              <div class="col-6 col-sm-3">
                <div class="solutions">CONTACT US</div>
                <span class="d-block">info@pmm.com</span>
                <span class="d-block">+27826189990</span>
                
              </div>
      
            </div>
      
          
          <!-- </div> -->
      </div>
      
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3 footer">
      © 2022 Copyright
      <a class="text-white" href="#"></a>
    </div>
    <!-- Copyright -->
  </footer>
    
  </div>
  