
@import 'src/assets/theme/variables';


.footer {

    background-color: #87196a;;
}

.img-fluid {
    max-width: 27%;
    height: auto;
}

.footer-spacing {
    margin-top: 8rem;
    text-align: left;
}

.solutions {

    color:#A9A9A9		;
    
  
  }