<footer class="footer text-center text-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 mt-5">
        <img src="../../assets/images/pmm-logo-footer.png" width="300" class="pt-5" alt=""/>
      </div>
      <div class="col-xs-12 col-md-6 offset-2">
        <h4 class="footer-spacing text-left">
          "There are no secrets to success. It is the result of
          preparation, hard work, and ongoing learning"
        </h4>

        <div class="row mt-5">
          <div class="col-6 col-sm-3 text-left ">
            <div class="solutions">VISIT US</div>
            <span class="d-block">30 Makhambeni</span>
            <span class="d-block">Sandton</span>
            <span class="d-block">0008</span>
          </div>
          <div class="col-3"></div>

          <div class="col-6 col-sm-3 text-left">
            <div class="solutions">CONTACT US</div>
            <span class="d-block">info@pmm.com</span>
            <span class="d-block">+27826189990</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="footer-white container">
  <div class="row">
    <div class="col-6 footer-links">
      <a href="#">About</a>
      <a href="#">Works</a>
      <a href="#">Services</a>
    </div>
    <div class="col-2">
      <img src="../../assets/images/social-icons.png" width="200" alt=""/>
    </div>
    <div class="col-4 text-right">Copyright © 2023 Design by Ash</div>
  </div>
</div>
