<app-menu></app-menu>
<div class="bg-image">
</div>

<!-- section 3 body-->
<div class="container">
    <div class="row m-5 pt-5">
      <div class="col-xs-12 col-md-6">
        <img src="../../assets/images/5.jpg" class="img-founder img-fluid" alt=""/>
      </div>
      <div class="col-xs-12 col-md-6 py-5">
        <h3 class="m-4">
          We're an experienced and very
          <span class="d-block">creative production company</span>
        </h3>
        <p class="m-4">
          The French lettering company Letraset manufactured a set of dry-transfer
          sheets which included the lorem ipsum filler text in a variety of fonts,
          sizes, and layouts. These sheets of lettering could be rubbed on
          anywhere and were quickly adopted by graphic artists, printers,
          architects, and advertisers for their professional look and ease of use.
        </p>
        <div class="m-4">
          <p>
            
            <span class="d-block solutions"></span>
          </p>
        </div>
      </div>
    </div>
  </div>

<!-- About Agency -->
  <div class="container about-agency">
    <div class="row gap100 m-5">
      <div class="col-xs-12 col-md-6">
        <div class="solutions m-4">&ndash; About agency</div>
        <h3 class="m-4">
          We're driven to create the most memorable productions
        </h3>
        <p class="m-4">
          The French lettering company Letraset manufactured a set of dry-transfer
          sheets which included the lorem ipsum filler text in a variety of fonts,
          sizes, and layouts. These sheets of lettering could be rubbed on
          anywhere and were quickly adopted by graphic artists, printers,
          architects, and advertisers for their professional look and ease of use.
        </p>
  
        <div class="m-4">
          <p><span class="d-block solutions"></span></p>
        </div>
      </div>
  
      <div class="col-xs-12 col-md-5 offset-md-1">
        <div class="space"></div>

        <p class="m-4">
            The French lettering company Letraset manufactured a set of dry-transfer
            sheets which included the lorem ipsum filler text in a variety of fonts,
            sizes, and layouts. These sheets of lettering could be rubbed on
            anywhere and were quickly adopted by graphic artists, printers,
            architects, and advertisers for their professional look and ease of use.
          </p>
        
     
  
      </div>
    </div>
  </div>


  <!-- About Agency -->
  <div class="container about-agency">
    <div class="row gap100 m-5">
      <div class="col-xs-12 col-md-6">
        <div class="solutions m-4"></div>
        <h3 class="m-4">
          Our Clients
        </h3>
      
  
        <div class="m-4">
          <p><span class="d-block solutions"></span></p>
        </div>
      </div>
  
      <div class="col-xs-12 col-md-5 offset-md-1">
        <div class="solutions m-4">&ndash; Brands we've worked with</div>

        <p class="m-4">
            The French lettering company Letraset manufactured a set of dry-transfer
            sheets which included the lorem ipsum filler text in a variety of fonts,
            sizes
          </p>
        
     
  
      </div>

  
    </div>
    <div class="row">
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
    </div>
  
  </div>