<nav id="media" class="navbar navbar-expand-lg navbar-light px-5 py-0">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.png" class="d-block w-100">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/media" routerLinkActive="active" ariaCurrentWhenActive="page">Media
            Lounge</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container contact-bg mb-5">
  <div class="row">
    <div class="col col-lg-6 text-center my-6">
      <div class="col align-sef-center col-lg-6 mx-auto">
        <h2 class="title font-weight-light mt-2 fw-bold text-white text-left">We're the Best!</h2>
        <h2 class="title font-weight-light mt-2 fw-bold text-white text-left">Messsage Us.</h2>
        <form class="mt-3 contact4">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group mt-2">
                <input class="form-control text-white" type="text" placeholder="Name">
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group mt-2">
                <input class="form-control text-white" type="email" placeholder="Email">
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group mt-2">
                <textarea class="form-control text-white" rows="3" placeholder="Message"></textarea>
              </div>
            </div>
            <div class="col-lg-12 d-flex align-items-center mt-2">
              <button type="submit" class="btn bg-white text-inverse px-3 py-2"><span> Submit</span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col p-0 m-0">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1619902.0054433027!2d-122.68851282163044!3d37.534535608111824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1507725785789"
        width="100%" height="550" frameborder="0" style="border:0" allowfullscreen data-aos="fade-left"
        data-aos-duration="3000"></iframe>
    </div>
  </div>
</div>

<app-footer></app-footer>
