<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming_Soon Landing Page</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="./css/main.css" type="text/css"> -->
</head>

<body>
    <div class="container">
        <div class="container_inside">
            <div class="logo">
                <!-- <img src="./images/bird.png" alt="bird"> -->
                <p>We are under heavy construction, <br> and we will be</p>
            </div>
            <h1>Coming</h1>
            <h2>Soon</h2>
            <!-- <p>Meanwhile, please sign-up for our newsletter</p>
            <form>
                <input type="email" placeholder="Your email" />
                <button type="submit" class="btn">send</button>
            </form> -->
            <p>connect with us</p>
            <div class="social_connects">
                <a href="https://twitter.com/PabiMoloi">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.facebook.com/PabiMoloiOfficial">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/pabimoloi/?hl=en">
                    <i class="fab fa-instagram"></i>
                </a>
                
            </div>
        </div>
    </div>
</body>

</html>
<router-outlet></router-outlet>
