<header class="wrapper">
  <!-- navbar -->
  <app-menu></app-menu>
  <!-- end of navbar -->

  <!-- banner -->
  <div class="container">
    <div class="row banner">
      <div class="col-md-6 d-flex flex-column justify-content-center banner__content">
        <h1 class="mb-5">Here's our value proposition <span class="d-block">- we're awesome</span></h1>
        <p class="mb-4">
          This example creates a full page background image. Try to resize the
          browser window to see how it always will cover the full screen (when
          scrolled to top), and that it scales nicely on all screen sizes.
        </p>
  
        <a class="banner__content--btn" href="#">View Details</a>
      </div>
      <!-- <div class="col banner__figure">
      </div> -->
      <img src="assets/images/2.png" alt="banner-figure">
    </div>
  </div>
  <!-- end of banner -->
</header>