<header class="wrapper">
  <!-- navbar -->
  <app-menu></app-menu>
  <!-- end of navbar -->

  <!-- banner -->
  <div class="container">
    <div class="row banner mb-5">
      <div class="col-md-6 d-flex flex-column justify-content-center banner__content">
        <h1 class="mb-5">
          {{headingDetails.title}}
          <span class="d-block">- {{headingDetails.subTitle}} </span>
        </h1>
        <p class="mb-4">{{headingDetails.description}}</p>
        <a class="banner__content--btn" href="#">View Details</a>
      </div>
      <img src="assets/images/2.png" alt="banner-figure"/>
    </div>
  </div>
  <!-- end of banner -->

  <!-- section 1 body-->
</header>

<!-- section 1 body-->
<div class="container pt-3 solutions-wrapper">
  <div class="row align-items-center my-5 rows ">
    <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">
      <div class="col-12 left-side">
        <div class="solutions mb-3">&ndash; Our solutions</div>
        <h3>
          Versatile and creative production
          <span class="d-block">Services for the creative ambitious</span>
        </h3>
      </div>
    </div>
    <!-- <div style="flex:1"></div> -->
    <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 text-right">
      <div class="col-12 right-side mt-4">
        <a class="btn btn-default book-now" (click)="bookNow()">Book now</a>
      </div>
    </div>
  </div>

  <!-- section 2 body-->

  <div class="line mb-4 "></div>
  <div class="row align-items-center intro-menu mb-5">
    <div class="row col-sm" *ngFor="let serv of services">
      <div class="number-orb">
        {{serv.srNum}}
      </div>
      <div class="col ml-2 mr-4 pt-3">
        <div class="d-flex">
          <p class="awesome-header">{{serv.title}}</p>
        </div>
        <p>{{serv.description}}</p>
      </div>
    </div>

  </div>
</div>

<!-- section 3 body-->
<div class="container">
  <div class="row m-5 pt-5">
    <div class="col-xs-12 col-md-6">
      <img src="../../assets/images/5.jpg" class="img-founder img-fluid" alt=""/>
    </div>
    <div class="col-xs-12 col-md-6 py-5">
      <h3 class="m-4">
        We're an experienced and very
        <span class="d-block">creative production company</span>
      </h3>
      <p class="m-4">
        The French lettering company Letraset manufactured a set of dry-transfer
        sheets which included the lorem ipsum filler text in a variety of fonts,
        sizes, and layouts. These sheets of lettering could be rubbed on
        anywhere and were quickly adopted by graphic artists, printers,
        architects, and advertisers for their professional look and ease of use.
      </p>
      <div class="m-4">
        <p>
          {{hero.name}}
          <span class="d-block solutions">{{hero.designation}}</span>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- section 4 body-->
<div class="container pt-5">
  <div class="row gap100 m-5">
    <div class="col-xs-12 col-md-6">
      <div class="solutions m-4">&ndash; About agency</div>
      <h3 class="m-4">
        We're driven to create the most memorable productions
      </h3>
      <p class="m-4">
        The French lettering company Letraset manufactured a set of dry-transfer
        sheets which included the lorem ipsum filler text in a variety of fonts,
        sizes, and layouts. These sheets of lettering could be rubbed on
        anywhere and were quickly adopted by graphic artists, printers,
        architects, and advertisers for their professional look and ease of use.
      </p>

      <div class="m-4">
        <p>{{hero.name}}<span class="d-block solutions">{{hero.designation}}</span></p>
      </div>
    </div>

    <div class="col-xs-12 col-md-5 offset-md-1">
      <div class="row col-sm m-4">
        <div class="number-orb--second agency-paragraph">
          <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" enable-background="new 0 0 491.5 491.5" height="512"
               viewBox="0 0 491.5 491.5" width="512">
            <g fill="#b3266c" clip-rule="evenodd" fill-rule="evenodd">
              <path d="m143 35.5h-86.7l132.8 207.6c1 1.6 1 3.6 0 5.2l-132.8 207.7h86.7l134.5-210.2z"/>
              <path d="m303.8 35.5h-86.8l132.8 207.6c1 1.6 1 3.6 0 5.2l-132.7 207.7h86.8l134.4-210.2z"/>
            </g>
          </svg>
        </div>
        <div class="col mx-4 ">
          <h4 class="font-weight-bold"> {{philosophy.title}}</h4>
          <p>{{philosophy.description}}</p>
        </div>
      </div>

      <div class="row col-sm m-4">
        <div class="number-orb--second agency-paragraph">
          <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" enable-background="new 0 0 491.5 491.5" height="512"
               viewBox="0 0 491.5 491.5" width="512">
            <g fill="#b3266c" clip-rule="evenodd" fill-rule="evenodd">
              <path d="m143 35.5h-86.7l132.8 207.6c1 1.6 1 3.6 0 5.2l-132.8 207.7h86.7l134.5-210.2z"/>
              <path d="m303.8 35.5h-86.8l132.8 207.6c1 1.6 1 3.6 0 5.2l-132.7 207.7h86.8l134.4-210.2z"/>
            </g>
          </svg>
        </div>
        <div class="col mx-4 ">
          <h4 class="font-weight-bold"> {{mission.title}}</h4>
          <p>{{mission.description}}</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <app-carousel></app-carousel>
</div>

<media></media>

<app-footer></app-footer>

