@import 'src/assets/theme/variables';

.wrapper {
  background-image: url('/assets/images/background.png');
  background-size: cover;
}

.banner {
  height: calc(100vh - 70px);
  position: relative;
  overflow: hidden;

  &__content {
    
    h1 {
      font-size: 4rem;
      color: #fff;
      margin-top: 8rem;
    }
    
    p {
      color: #fff;
    }

    &--btn {
      width: max-content;
      text-decoration: none;
      padding: 0.5rem 2rem;
      border: 2px solid #fff;
      color: #fff;
    }
  }
  
  > img {
    position: absolute;
    width: 60%;
    right: -25px;
    top: 5%;
  }

  // &__figure {
  //   position: relative;
  //   overflow: hidden;

  //   > img {
  //     position: absolute;
  //     width: 130%;
  //     left: -80px;
  //   }
  // }
}


.center {
  margin-left: 5rem;
  margin-top: 6rem;

}

.solutions {

  color:#A9A9A9		;
  font-size: 15px;

}

.btn {
  width: max-content;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border: 2px solid #A9A9A9;
  border-radius: 1px;
  color: #A9A9A9;
 

  &:hover {
    background-color: purple;
    color: #fff;
    border: none;
    border-radius: 1px;
    transition: .3s;
  }
}

.line {

  width: 20%;
  height: 0;
  border: 1px solid $primaryLight;
  margin: 3px;
  display:inline-block;
  color: $primaryLight;
  margin-left: 4.3rem;

}

.number-orb {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.1rem;

}
.number-orb--second {
  border: 1px solid rgb(123, 122, 122);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.1rem;
  background: #fbfbfb

}

.intro-menu {
  h4 {
    height: 3rem;
    font-weight: 600;
  }
}

.our-solution-intro {

    font-weight: 600;
    
}

.img-position {
      align-items: flex-end; 
      position: relative;
      right: 0
}

.our-solution-paragraph {
  display: flex;
  align-items: flex-end;
  height: 450px;
  
}

.agency-paragraph {
  color: purple;

  font-weight: 600;
  font-size: large;

}

.book-now {
  border-color: #393737;;
}


.solutions-wrapper{
  padding-left: 13rem;
  padding-right: 13rem;
}


.awesome-header {
  margin-top: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 2rem;
}