<div class="row align-items-center rows m-5">
  <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
    <div class="col-12 left-side m-4 pl-4">
      <div class="solutions">&ndash; Previous Work</div>
      <h5 style="font-weight: 600">
        Have a look at some
        <span class="d-block">of our projects.</span>
      </h5>
      <div class="nav-buttons">
        <nav (click)="scrollLeft()">
          <div class="arrow">
            <i class="bi bi-chevron-left"></i>
          </div>
        </nav>
        <nav (click)="scrollRight()">
          <div class="arrow">
            <i class="bi bi-chevron-right"></i>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
    <div class="col-12 right-side text-center">
      <section #cardsContainer class="cards-container" style="display: block">
        <div
          class="slider-card"
          *ngFor="let project of projects"
          [style.background-image]="'url(' + project?.url + ')'"
        >
          <div class="details">
            <div class="name">{{ project?.name }}</div>
            <div class="description">//{{ project?.description }}</div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
